
.agenda {
  &__wrap {
    background-color: #0b379b;
  }

  &__inner {
    padding: 40px 16px;
  }

  &__text {
    margin: 4px 0;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
  }

  &__title {
    margin: 12px 0;
    color: #ffffff;
    font-size: 30px;
    line-height: 35px;
  }
}
