
.calendar {
  background-color: #ff4b33;
  border-radius: 5px;

  &__month {
    padding: 16px;
    padding-bottom: 0;
    color: #ffffff;
    font-size: 36px;
    line-height: 42px;
  }

  &__date {
    color: #ffffff;
    font-size: 96px;
    line-height: 111px;
  }

  &__time {
    padding: 16px;
    padding-top: 0;
    color: #ffffff;
    font-size: 36px;
    line-height: 42px;
  }

  &__footer {
    padding: 25px;
    padding-top: 0;
  }
}
