
.footer {
  width: 100%;

  &__wrap {
    padding: 0 16px 20px;
    font-size: 0;
  }

  &__left,
  &__right {
    display: inline-block;
    vertical-align: top;
  }

  &__left {
    width: 284px;
  }

  &__right {
    width: 284px;
  }
}
