
.links {
  &__title {
    margin: 6px 0;
    color: #333333;
    font-size: 16px;
    line-height: 19px;
  }

  &__item {
    padding: 4px 0;
  }

  &__link{
    color: #141414;
    font-size: 14px;
    line-height: 16px;
  }
}
