
.social {
  &__title {
    margin: 14px 0;
    color: #333333;
    font-size: 16px;
    line-height: 19px;
  }

  &__label {
    color: #000000;
    font-size: 11px;
    line-height: 13px;
  }

  &__items {
    font-size: 0;
  }

  &__item:not(:last-child) {
    padding-right: 8px;
  }
}
