
.products {
  &__title {
    color: #141414;
    font-size: 24px;
    line-height: 28px;
  }

  &__left {
    float: left;
    width: 300px;
  }

  &__right {
    float: right;
    width: 300px;
  }
}
