
.review {
  &__left {
    float: left;
    width: 200px;
  }

  &__right {
    float: right;
    width: 400px;
  }

  &__title {
    margin: 32px 0 24px;
    color: #141414;
    font-size: 24px;
    line-height: 28px;
  }

  &__label {
    margin: 0;
    color: #13d6c3;
    font-size: 16px;
    line-height: 19px;
  }

  &__text {
    margin: 17px 0;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
  }

  &__name {
    margin: 8px;
    color: #141414;
    font-size: 18px;
    line-height: 21px;
  }

  &__footer {
    padding: 0 16px 48px;
  }
}
