
.agenda {
  background: #0b379b;

  &__wrap {
    padding: 40px 16px;
  }

  &__header {
    padding-top: 32px;
    padding-bottom: 8px;
  }

  &__li {
    padding-top: 8px;
  }

  &__mark {
    width: 12px;
    padding: 4px 12px;
    padding-left: 0;
  }

  &__text {
    @include font(
      $font-size: 18px,
      $line-height: 21px,
      $color: #ffffff,
    );
  }

  &__title {
    @include font(
      $font-size: 30px,
      $line-height: 35px,
      $color: #ffffff,
    );
  }

  @include mobile {
    &__wrap {
      padding: 24px 16px !important;
    }

    &__header {
      padding: 24px 0 0 !important;
    }

    &__li {
      padding-top: 16px !important;
    }

    &__mark {
      padding-top: 6px !important;
      padding-right: 20px !important;
    }
  }
}
