@import '../../styles/styles';
@import './blocks/banner';
@import './blocks/benefit';
@import './blocks/benefits';
@import './blocks/course';
@import './blocks/courses';
@import './blocks/footer';
@import './blocks/header';
@import './blocks/product';
@import './blocks/products';
@import './blocks/promo';
@import './blocks/review';
@import './blocks/section';
