
.agenda {
  &__title {
    color: #ff4b33;
    font-size: 30px;
    line-height: 35px;
  }

  &__title--green {
    color: #13d6c3;
  }

  &__text {
    margin: 12px 0;
    color: #141414;
    font-size: 18px;
    line-height: 21px;
  }
}
