
.disclaimer {
  &__wrap {
    padding: 44px 0 32px;
  }

  &__row {
    padding-top: 12px;
  }

  &__text,
  &__link {
    @include font(
      $font-size: 11px,
      $line-height: 13px,
      $color: #828282,
    );
  }

  &--welcome &__wrap {
    padding: 20px 16px 48px;
  }

  @include mobile {
    &__wrap {
      padding-top: 36px !important;
    }

    &--welcome &__wrap {
      padding: 14px 0 34px !important;
    }

    &--promo &__wrap {
      padding: 10px 20px 40px 14px !important;
    }
  }
}
